html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  display: block;
}

head {
  display: none;
}

body {
  background-color: #FFEFD5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  min-height: 90vh;
  margin: 0;
  padding: 0;
  font-family: 'Coming_Soon', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  box-sizing: border-box;
}

.header {
  background-color: #C0C0C0;
  box-sizing: border-box;
}

header {
  display: block;
}

.container {
  padding: 0 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
  box-sizing: border-box;
}

nav {
  display: block;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link {
  color: #2F4F4F;
  font-size: 24px;
  letter-spacing: 2px;
    
}

.main {
  margin-bottom: auto;
}

.section-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #778899;
}


.main-title {
  color: #2F4F4F;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height:8px;
}

.section {
  width: auto;
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #672f2f;
}

.section-item {
  position: relative;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  padding-left: 10px;
}

.footer {
  background-color: #C0C0C0;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
   
}

.github {
   padding: 0 50px;
}