html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  display: block;
}

head {
  display: none;
}

body {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  min-height: 90vh;
  margin: 0;
  padding: 0;
  font-family: 'Coming_Soon', sans-serif;
  font-size: 20px;
  font-weight: 420;
  line-height: 1.5;
  color: #000000;
  box-sizing: border-box;
}

.header {
  background-color: #C0C0C0;
  box-sizing: border-box;
}

header {
  display: block;
}

.container {
  padding: 0 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
  box-sizing: border-box;
}

nav {
  display: block;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-link {
  color: #2F4F4F;
  font-size: 24px;
  letter-spacing: 2px;
    
}

.main {
  margin-bottom: auto;
}

.main-title {
  color: #000000;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height:8px;
}

.section {
  padding-bottom: 10px;
  border-bottom: 1px solid #C0C0C0;
}

.section-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #829985;
}